* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-background: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --light-blue: #3882F6;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-background);
    align-items: center;
}

header {
    padding: 1rem 0;
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
    color: var(--main-text);
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

header a {
    color: var(--secondary-text);
    font-size: 18px;
}

header a,
header a:visited {
    text-decoration: none;
}

.hero {
    width: 60rem;
    display: flex;
    padding: 5rem 0 6rem;
    gap: 4rem;
}

.hero img {
    display: block;
    width: 500px;
    height: auto;
}

.hero h2 {
    font-size: 48px;
    color: var(--main-text);
    font-weight: 900;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero p {
    font-size: 18px;
    color: var(--secondary-text);
    line-height: 1.5rem;
}

.hero button {
    width: fit-content;
    padding: 0.5rem 2rem;
    background-color: var(--light-blue);
    color: var(--main-text);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 6rem;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 50rem;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark-background);
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    width: 150px;
}

.card p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
}

.card img {
    border: 3px solid var(--light-blue);
    border-radius: 10%;
    display: block;
    width: 100%;
    height: auto;
}

.third {
    background-color: var(--secondary-text);
    padding: 8rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: var(--dark-background);
}

.quote .author {
    color: var(--dark-background);
    align-self: flex-end;
    padding-right: 5%;
    font-weight: bold;
    font-size: 1.2rem;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.fourth .container {
    width: 60rem;
    background-color: var(--light-blue);
    padding: 3rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.fourth h3 {
    color: var(--main-text);
}

.fourth p {
    color: var(--secondary-text);
}

.container button {
    background-color: var(--light-blue);
    color: var(--main-text);
    border: 2px solid var(--main-text);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}